* {
    background-color: rebeccapurple;
}

.box {
    color: beige;
}

#greeting {
    color: brown;
}

h2 {
    color: antiquewhite;
}

.heading {
    color: chartreuse;
}

#title {
    color: darksalmon;
}

html{
    font-size: 10px;
}

.para {
    font-size: 3rem;
}

.box2 {
    background-color: rgb(139, 139, 211);
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 2px solid black;
    margin: 5px;
}

.box3 {
    background-color: bisque;
    width: 100px;
    height: 100px;
    padding: 20px;
    border: solid red 3px;
    margin: 3px;
}